.tori {
  border: 1px solid red;
  background-color: #f7f7f7;
  width:max-content;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.InputField {
  margin: 20px;
  margin-top: 40px;
  text-align: left;
}

.InputField input, select {
  font-size: 22px;
  padding: 10px;
  margin-right: 5px;
  border: 2px solid rgba(187, 187, 187, 0.822);
  border-radius: 5px;
  width: 20vw;
}

.InputField input[type=text] {
  color: gray;
  width: 25vw;
}

.InputField select[name=what] {
  width: 21vw;
}

.InputField select[name=where] {
  width: 13vw;
}

.SearchField {
  margin: 20px;
  font-size: 24px;
  text-align: center;
}

.SearchField input[type=checkbox] {
  width: 18px;
  height: 18px;
  margin: 8px;
}

.SearchField label {
  margin-right: 22px;
}

#buttonLabel {
  margin-left: 250px;
  color: #41418b;
  font-size: 20px;
  font-weight: 600;
  margin-right: 15px;
}

.SearchField button {
  font-size: 20px;
  padding: 14px;
  width: 5vw;
  background-color: #5353b4;
  color: white;
  border-radius: 8px;
  border: none;
}